<div class="results">
	<form ng-submit="listItemSubmit()">
		<div>
			<div class="select-style">
				<select type="text" ng-model="defaultVar" name="category" ng-options="option.name for option in category">
				</select>
			</div>
			<input type="text" ng-model="toDo.task" name="keyword" placeholder="Keyword">
			<button id="mileSubmit" name="submit">SUBMIT</button>
		</div>
	</form>
	<hr id="mileRuler"/>
	<div ng-if="AuthData !== null" id="mileList">
		<h1>Your Current Goals</h1>
		<li ng-repeat="item in list track by $index" class="mileItem">{{item.category}}: {{item.task}}</li>
	</div>
	<div ng-if="AuthData == null" id="mileList">
		<h1>Please Login to see this content</h1>
	</div>	
</div>