<div class="results">
	<div ng-if="placeData">

		<div class="visData">
			<map center="{{latitude}},{{longitude}}" zoom="15" disable-default-u-i="true" >
				<marker position="{{latitude}},{{longitude}}" title="Hello World!"></marker>
			</map>

			<!-- <img ng-if="placeData[1] != null " src="{{placeData[1]}}"> -->
		</div>			
		<hr>
		<div>
			<h1>{{placeData.name}}</h1>

			<h3>{{placeData.rating}}</h3>

			<h3 ng-if="status == true">Open</h3>
			<h3 ng-if="status == false">Closed</h3>
			<ul>
				<li ng-repeat="times in placeData.opening_hours.weekday_text track by $index">{{times}}</li>
			</ul>

			<h3>{{placeData.vicinity}}</h3>
		</div>
	</div>

	<div ng-if="foodData">
		<h1>This is a header for testing</h1>
		
		<h3>{{foodData[0].recipeName}}</h3>

		<img ng-if="{{foodData[1].images[0].hostedLargeUrl}}" src="{{foodData[1].images[0].hostedLargeUrl}}">

		<ul>
			<li ng-repeat='ingredient in foodData[1].ingredientLines'>{{ingredient}}</li>
		</ul>
		
		<h3>RATING: {{foodData[1].rating}}</h3>

		<h3>SERVING: {{foodData[1].numberOfServings}}</h3>

		<h3>PROVIDED: {{foodData[1].source.sourceDisplayName}}</h3>

		<h3>LOCATION: {{foodData[1].source.sourceRecipeUrl}}</h3>
	</div>

	<div ng-hide="stat">
		<button ng-click="confirm()">LET'S GO</button>
		<button ng-click="reroll()">RE ROLL</button>
	</div>

	<div ng-show="stat">
		<h2>HAVE FUN!</h2>
	</div>

</div>