html{
    position: relative;
    min-height: 100%;	
}

body{
	margin: 0 0 60px; /* bottom = footer height */
}

/*This is where basic header styling is done*/
header{
	width:100%;
	height:90px;
	position:relative;
	background-image: url("../img/shattered.png");
    border-bottom: 10px solid #EA5F28;
}

header .logo{
	width:150px;
	position:absolute;
	left: 50%;
    top: 13px;
    margin-left:-75px;

}

header .tasks{
	width:50px;
	position:absolute;
	top: 18px;
	right: 2%;
	color:#fff;
}

header .login{
	-webkit-appearance:none;
	background:transparent;
	border:0;
	outline:none;
	padding:0;
	width:50px;
	position:absolute;
	top: 18px;
	left: 2%;
}

header .login img{
	width:100%;
}

header .tasks h1{
	margin:0;
	text-align:center;
}

header .avatar{
	width:60px;
	height:60px;
	position:absolute;
	top: 10px;
	left: 2%;
	overflow:hidden;
	border-radius: 150px 150px 150px 150px;
	-webkit-border-radius: 150px 150px 150px 150px;
	-moz-border-radius: 150px 150px 150px 150px;	
}

header .avatar img{
	flex-shrink:0;
	width:100%;
    min-width:100%;
    min-height:100%
}
/*End header styles*/

/*This will handel the modal elements*/
.loginModel{
	box-sizing: border-box;
	background-color:#fff;
	display:block;
	border-top: 10px solid #EA5F28;
	padding-top:60px;
	padding-bottom:20px;
	width:100%;
}

.loginModel button{
	display:block;
	margin:0px auto;
	margin-bottom:40px;
	width:80%;
	height:60px;
	background-color:grey;
	color:#fff;
	text-transform: uppercase;
	outline:0;
	border:0;
}

.loginModel #facebook{
	background-color:#3b5998;
}

.loginModel #google{
	background-color:#dd4b39;
}

.loginModel #twitter{
	background-color:#4099FF;
}

.eventModal{
	box-sizing: border-box;
	background-color:#fff;
	display:block;
	border-top: 10px solid #EA5F28;
	padding-top:60px;
	padding-bottom:20px;
	width:100%;	
}

.mileEvent button{
	width:47%;
	height:50px;
	padding:0;
	border:none;
	color:#fff;
	font-weight:bold;
}

.mileEvent {
	overflow:hidden;
	margin:0px auto;
	width:90%;
}

.mileEvent h1{
	color:#EA5F28;
	text-align:center;
	font-size:1.9em;
}

.eventModal .mileEvent #confirm{
	float:left;
	background-color:#4FB848;
}

.eventModal .mileEvent #confirm{
	float:left;
	background-color:#4FB848;
}

.eventModal .mileEvent #cancel{
	float:right;
	background-color:#F4DA45;
}
/*end modal styling*/

/*This is where form styling will be done*/
form{
	margin:0 auto;
	margin-top:20px;
	margin-bottom:30px;
	width:90%;
	overflow:hidden;
}

form *{
	display:block;
}

form div{
	margin:0 auto;
}

form input, form .select-style{
	-webkit-appearance:none;
	background-color:#fff; 
	width:100%;
	height:47px;
	padding:0 0 0 10px;
	margin:0 0 20px 0;
	border:3px;
	border-radius:0;
	border-style:solid;
	border-color:#A0A0A0;
}

form input, form select{
	outline:none;
}

form button{
	-webkit-appearance:none;
	background:transparent;
	border:0;
	outline:none;
	width:100%;
}

form button img{
	width:100%;
	margin:0 0 20px 0;
}

form .select-style{
	background: url(../img/arrow.png) no-repeat right #fff;
}

form .select-style select{
	background: transparent;
	width:100%;
	height:42px;
	padding:0;
	font-size:15px;
	border:0;
	border-radius:0;
	-webkit-appearance:none;
}

form a img{
	width:30%;
}
/*End form styling.*/

/*This will hold the results styling*/
.results{
	width:100%;
	margin:0px auto;
	overflow:hidden;
}

.results h1{
	color:#EA5F28;
}

.results .historyHead{
	margin-left:10px;
}

.results h3{
	color:#4FB848;	
}

.results #open{
	color:#4FB848;
}

.results #closed{
	color:#E52C2C;
}

.results .visData{
	position: relative;
	overflow:hidden;
	height:200px;
	float:none;
}

.results .visData img{
	width:100%;
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.results .data{
	width:100%;
	margin:0 auto;	
	padding:0 15px 20px;
	overflow:hidden;
}

.results div p{
	text-transform: capitalize;
}

.results .data div{
	width:100%;
}

.results .data #confirm, .results .data #roll{
	box-sizing:border-box;
	width:48%;
	height:50px;
	padding:0;
	border:none;
	color:#fff;
	font-weight:bold;
}

.results .data #confirm{
	float:left;
	background-color:#4FB848;
}

.results .data #roll{
	float:right;
	background-color:#F4DA45;
}

#mileSubmit{
	background-color:#EA5F28;
	color:#fff;
	height:42px;
}


.results .data ul li{
	list-style:none;
}

.results .data h2 {
	text-align:center;
}

map{
	width:100%;
	float:left;
	height:inherit;
}

hr{
	margin:0 0 15px 0;
	padding:0;
	height:5px;
	background-color:#EA5F28;
	float:none;
	border:none;
}

#mileRuler{
	background-color:#A7A5A3;
}

#mileList{
	width:95%;
	margin:0px auto;
	margin-bottom:20px;
	font-size:20px;
}

#mileList div{
	width:100%;
	font-size:20px;
	margin-top:30px;
	margin-bottom:30px;
	overflow:hidden;
    border-bottom:2px solid #A7A5A3;
}

#mileList li{
	list-style:none;
	font-weight:bold;
	border-bottom:2px solid #A7A5A3;
	margin-bottom:20px;
}

#mileList div li{
	width:60%;
	float:right;
	list-style:none;
	font-weight:bold;
	border:none;
}

#mileList div button{
	-webkit-appearance:none;	
	border:none;
	outline:none;
	background-color:#EA5F28;
	color:#fff;
	width:30%;
	float:left;	
	margin-top:6px;	
}
/*End result styling*/

/*Footer Styles*/
footer{
	position: absolute;
    left: 0;
    bottom:0;
	width:100%;
	height:60px;
	background-image: url("../img/shattered.png");
    border-top: 10px solid #EA5F28;
}

footer div{
	margin-top:7px;
	font-size:25px;
	text-align:center;
	color:#fff;
}

footer div a{
	color:#EA5F28;
}