<!DOCTYPE html>
<html lang="en" ng-app="do20">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DO20</title>
	<!-- bower:js -->
	<script src="libs/angular/angular.js"></script>
	<script src="libs/firebase/firebase.js"></script>
	<script src="libs/angularfire/dist/angularfire.js"></script>
	<!-- endbower -->
	<script src="libs/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<!-- MyScrips -->
	<script type="text/javascript" src="scripts/formRoute.js"></script>
	<script type="text/javascript" src="scripts/apiCtrl.js"></script>
	<script type="text/javascript" src="scripts/auth.js"></script>

</head>
<body>
	<header>
	<button ng-controller="auth" ng-click="facebookLogin()" name="facebookLogin">Facebook Login</button>
	<button ng-controller="auth" ng-click="googleLogin()" name="googleLogin">Google Login</button>
	</header>
	<ng-view></ng-view>
	<footer>
		
	</footer>
</body>
</html>